name: CI

on: [push, pull_request, workflow_dispatch]

env:
  BUNDLE_JOBS: 4

# jobs defined in the order we want them listed in the Actions UI
jobs:
  profile:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        ruby: [ruby]
        idna_mode: [native, pure]
        os: [ubuntu-latest]
    env:
      IDNA_MODE: ${{ matrix.idna_mode }}
    steps:
      - uses: actions/checkout@v6

      - name: Install libidn
        run: sudo apt-get install libidn11-dev

      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: false
          ruby-version: ${{ matrix.ruby }}

      - name: Install gems
        run: bundle install

      - name: >-
          Profile Memory Allocation with ${{ matrix.idna_mode }} IDNA during Addressable::URI#parse
        run: bundle exec rake profile:memory

      - name: >-
          Profile Memory Allocation with ${{ matrix.idna_mode }} IDNA during Addressable::Template#match
        run: bundle exec rake profile:template_match_memory

  coverage:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        ruby: [ruby]
        os: [ubuntu-latest]
    env:
      BUNDLE_WITHOUT: development
      COVERALLS_SERVICE_NAME: github
      COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      COVERALLS_DEBUG: true
      CI_BUILD_NUMBER: ${{ github.run_id }}
    steps:
      - uses: actions/checkout@v6

      - name: Install libidn
        run: sudo apt-get install libidn11-dev

      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: false
          ruby-version: ${{ matrix.ruby }}

      - name: Install gems
        run: bundle install

      - name: Run specs and report coverage
        run: bundle exec rake

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # the job name is composed by these attributes
        ruby:
          - 2.3
          - 2.4
          - 2.5
          - 2.6
          - 2.7
          # quotes because of YAML gotcha: https://github.com/actions/runner/issues/849
          - '3.0'
          - 3.1
          - 3.2
          - 3.3
          - 3.4
          - jruby-9.4
          - jruby-10.0
          - truffleruby-24
          - truffleruby-25
        os:
          - ubuntu-24.04
        gemfile:
          - Gemfile
        include:
          - { os: ubuntu-24.04, ruby: 2.7, gemfile: gemfiles/public_suffix_2.rb }
          - { os: ubuntu-24.04, ruby: 2.7, gemfile: gemfiles/public_suffix_3.rb }
          - { os: ubuntu-24.04, ruby: 2.7, gemfile: gemfiles/public_suffix_4.rb }
          - { os: ubuntu-24.04, ruby: 3.1, gemfile: gemfiles/public_suffix_5.rb }
          - { os: ubuntu-24.04, ruby: 3.1, gemfile: gemfiles/public_suffix_6.rb }
          # Ubuntu
          - { os: ubuntu-22.04, ruby: ruby }
          # macOS
          - { os: macos-14, ruby: ruby } # arm64
          - { os: macos-15, ruby: ruby } # arm64
          - { os: macos-15-intel, ruby: ruby } # EoL August 2027 (https://github.com/actions/runner-images/issues/13046)
          # Windows
          - { os: windows-2022, ruby: ruby }
          - { os: windows-2022, ruby: jruby }
          # allowed to fail
          - { os: ubuntu-24.04, ruby: head, gemfile: Gemfile, allow-failure: true }
          - { os: ubuntu-24.04, ruby: jruby-head, gemfile: Gemfile, allow-failure: true }
          - { os: ubuntu-24.04, ruby: truffleruby-head, gemfile: Gemfile, allow-failure: true }
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
      BUNDLE_WITHOUT: development:coverage
      # Workaround for Windows JRuby JDK issue
      # https://github.com/ruby/setup-ruby/issues/339
      # https://github.com/jruby/jruby/issues/7182#issuecomment-1112953015
      JAVA_OPTS: -Djdk.io.File.enableADS=true
    steps:
      - uses: actions/checkout@v6

      - name: Install libidn (Ubuntu)
        if: startsWith(matrix.os, 'ubuntu')
        run: sudo apt-get install libidn11-dev

      - name: Install libidn (macOS)
        if: startsWith(matrix.os, 'macos')
        run: brew install libidn

      - name: Setup ruby
        continue-on-error: ${{ matrix.allow-failure || false }}
        id: setupruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: false
          ruby-version: ${{ matrix.ruby }}

      - name: Install gems
        continue-on-error: ${{ matrix.allow-failure || false }}
        id: bundle
        run: bundle install

      - name: Run specs
        continue-on-error: ${{ matrix.allow-failure || false }}
        id: specs
        run: bundle exec rake spec

      # because continue-on-error marks the steps as pass if they fail
      - name: >-
          Setup ruby outcome: ${{ steps.setupruby.outcome }}
        run: echo NOOP
      - name: >-
          Install gems outcome: ${{ steps.bundle.outcome }}
        run: echo NOOP
      - name: >-
          Run specs outcome: ${{ steps.specs.outcome }}
        run: echo NOOP
